:root {
   --webkit-text-track-display: none;
}

.plyr--full-ui ::-webkit-media-text-track-container {
   display: var(--webkit-text-track-display) !important;
}

.plyr--full-ui .plyr__caption {
   font-size: 4vmin !important;
}
@media (--tablet) {
   .plyr--full-ui ::-webkit-media-text-track-container {
      display: block !important;
   }
}
