:root { --webkit-text-track-display: none; }

.plyr--full-ui ::-webkit-media-text-track-container {
    display: var(--webkit-text-track-display);
}
@media (--tablet) {
  .plyr--full-ui ::-webkit-media-text-track-container {
    display: block;
  }
}